---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Portfolio from '../components/Portfolio.astro';
import Stack from '../components/Stack.astro';
import Process from '../components/Process.astro';
import Audience from '../components/Audience.astro';
import Pricing from '../components/Pricing.astro';
import Faq from '../components/Faq.astro';
import BlogTeaser from '../components/BlogTeaser.astro';
import FinalCta from '../components/FinalCta.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Nav />
  <main>
    <Hero />
    <Portfolio />
    <About />
    <Stack />
    <Process />
    <Audience />
    <Pricing />
    <BlogTeaser />
    <Faq />
    <FinalCta />
  </main>
  <Footer />
</Layout>
